:root {
  --Black: rgba(20, 20, 20, 1);
  --gold: rgba(204, 175, 126, 1);
  --white: rgba(244, 241, 235, 1);
  --lightDark: rgba(26, 26, 26, 1);
  --midBlack: rgba(20, 20, 20, 0.5);

  --font32: 3.2rem;
  --font16: 1.6rem;
  --font30: 3rem;
  --font20: 2rem;
  --font18: 1.8rem;
  --font14: 1.4rem;
  --font12: 1.2rem;
  --font8: 8rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  background-color: var(--Black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}
nav p {
  color: var(--white);
  font-weight: bold;
  font-size: 1.5rem;
}
nav .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 8rem;
}
nav .icons img {
  width: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 8rem;
  color: var(--white);
}

.transfer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32.8rem;
}
.transfer h2 {
  font-size: var(--font20);
  /* margin-left: 10rem; */
}

input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 32.8rem;
  height: 5.2rem;
  background-color: var(--lightDark);
  border-radius: 1rem;
  border: none;
  padding-left: 2rem;
  color: var(--white);
}
.btn {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 4rem 0;
}
a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 32.8rem;
  height: 5.2rem;
  background-color: var(--white);
  border-radius: 1rem;
  border: none;
  padding-left: 2rem;
  color: var(--Black);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
}
footer {
  width: 34.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 2rem;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  color: var(--white);
}
.white {
  width: 14rem;
  background-color: var(--white);
  height: 0.5rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 0;
}
